---
const { id, name } = Astro.props;
---

<article>
  <a href=`/catalog/${id}`>
    <picture>
      <img src=`/images/catalog/${id}.png` alt={name} />
    </picture>
  </a>
  <p>
    {name}
  </p>
</article>

<style lang="scss">
  article {
    display: grid;
    gap: 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;

    a {
      border-radius: 50%;
      height: 150px;
      overflow: hidden;
      width: 150px;

      picture {
        display: grid;
        position: relative;

        img {
          object-fit: cover;
          height: 182px;
          width: 182px;
        }
      }
    }
  }
</style>
