---

---

<section>
  <article>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100" fill="none" stroke-width="2">
      <path>
        <animate
          attributeName="d"
          dur="3000ms"
          repeatCount="indefinite"
          keyTimes="0; .0625; .3125; .395833333; .645833333; .833333333; 1"
          calcMode="spline"
          keySplines="0,0,1,1; .42,0,1,1; 0,0,.58,1; .42,0,.58,1; .42,0,.58,1; .42,0,.58,1"
          values="
              M 0,0 C 50,0 50,0 100,0 100,50 100,50 100,100 50,100 50,100 0,100 0,50 0,50 0,0 Z;
              M 0,0 C 50,0 50,0 100,0 100,50 100,50 100,100 50,100 50,100 0,100 0,50 0,50 0,0 Z; 
              M 50,0 C 75,50 75,50 100,100 50,100 50,100 0,100 12.5,75 12.5,75 25,50 37.5,25 37.5,25 50,0 Z;
              M 50,0 C 75,50 75,50 100,100 50,100 50,100 0,100 12.5,75 12.5,75 25,50 37.5,25 37.5,25 50,0 Z;
              M 100,50 C 100,77.6 77.6,100 50,100 22.4,100 0,77.6 0,50 0,22.4 22.4,0 50,0 77.6,0 100,22.4 100,50 Z;
              M 100,50 C 100,77.6 77.6,100 50,100 22.4,100 0,77.6 0,50 0,22.4 22.4,0, 50,0 77.6,0 100,22.4 100,50 Z;
              M 100,100 C 50,100 50,100 0,100 0,50 0,50 0,0 50,0 50,0 100,0 100,50 100,50 100,100 Z;
            "
        ></animate>
        <animate
          attributeName="stroke"
          dur="3000ms"
          repeatCount="indefinite"
          keyTimes="0; .0625; .3125; .395833333; .645833333; .833333333; 1"
          calcMode="spline"
          keySplines="0,0,1,1; .42,0,1,1; 0,0,.58,1; .42,0,.58,1; .42,0,.58,1; .42,0,.58,1"
          values="white; white; white; white; white; white; white;"></animate>
      </path>
    </svg>

    <h1>Мы поставляем трубы любого типоразмера</h1>

    <p>
      Благодаря налаженным связям с металлургическими заводами России, «Профиль С» имеет возможность осуществлять поставки по рыночным ценам, в разумные сроки, в любой уголок РФ,
      минимальной партией от одной тонны.
    </p>

    <a href="/catalog" class="button">Посмотреть каталог</a>
  </article>

  <svg height="22" width="42">
    <use xlink:href="/images/sprites.svg#icon-rigth-corner"></use>
  </svg>
  <div class="overlay"></div>
</section>

<style lang="scss">
  .overlay {
    inset: 0;
    position: absolute;
    background-size: cover;
    transition: all 0.8s ease-in-out;
    z-index: -1;
    opacity: 0;
  }

  section {
    background-color: rgb(var(--c-theme));
    color: rgb(var(--c-light));
    display: grid;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: -1;

    article {
      margin: auto auto 0;
      max-width: var(--l-max-width);
      padding: 100px clamp(20px, 5vw, 40px);
      width: 100%;

      p {
        max-width: 720px;
        margin: 0 0 40px;
      }
    }

    svg {
      margin: auto auto 40px;
    }

    @media only screen and (max-width: 640px) {
      height: unset;
      position: relative;
    }
  }
</style>

<script is:inline>
  header.setAttribute("style", "background-color: transparent;");

  window.addEventListener("scroll", () => {
    const trigger = document.querySelector("section");

    if (trigger.getBoundingClientRect().bottom <= header.offsetTop + 92) {
      header.setAttribute("style", "box-shadow: 0 5px 5px rgba(var(--c-dark), 0.2); background-color: rgb(var(--c-theme));");
    } else {
      header.setAttribute("style", "box-shadow: 0 5px 5px rgba(var(--c-dark), 0); background-color: transparent;");
    }
  });

  const overlay = document.querySelector(".overlay");

  let i = 0;
  let images = [];
  const slideTime = 6000;

  images[0] = "/images/DSC_0368.webp";
  images[1] = "/images/DSC_0358.webp";
  images[2] = "/images/DSC_0329.webp";
  images[3] = "/images/DSC_0214.webp";
  images[4] = "/images/DSC_0086.webp";

  const changePicture = () => {
    overlay.style.opacity = ".2";
    overlay.style.backgroundImage = "url(" + images[i] + ")";
    setTimeout(() => {
      overlay.style.opacity = "0";
    }, 5000);

    if (i < images.length - 1) {
      i++;
    } else {
      i = 0;
    }
    setTimeout(changePicture, slideTime);
  };

  window.onload = changePicture;
</script>
