---
const visible = "";
---

<section>
  <h3>Весометрика {visible}</h3>

  <div>
    <nav class="nav">
      <svg width="80" height="40" data-tab-id="tab-1">
        <use xlink:href="/images/sprites.svg#icon-elipse"></use>
      </svg>

      <svg width="80" height="60" data-tab-id="tab-2">
        <use xlink:href="/images/sprites.svg#icon-circle"></use>
      </svg>

      <svg width="80" height="60" class="active" data-tab-id="tab-3">
        <use xlink:href="/images/sprites.svg#icon-square"></use>
      </svg>

      <svg width="80" height="60" data-tab-id="tab-4">
        <use xlink:href="/images/sprites.svg#icon-rectangle"></use>
      </svg>

      <svg width="80" height="60" data-tab-id="tab-5">
        <use xlink:href="/images/sprites.svg#icon-circle-v2"></use>
      </svg>

      <svg width="80" height="60" data-tab-id="tab-6">
        <use xlink:href="/images/sprites.svg#icon-rectangle-rounded"></use>
      </svg>
    </nav>

    <div class="tables">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tab-1" class="content">
        <thead>
          <tr>
            <td rowspan="3">Типоразмер, мм</td>
            <td colspan="2">Толщина стенки, мм</td>
          </tr>
          <tr>
            <td>1,2</td>
            <td>1,5</td>
          </tr>
          <tr>
            <td colspan="2">Масса 1 п/м, кг</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>30x16</td>
            <td>0,666</td>
            <td>0,821</td>
          </tr>
          <tr>
            <td>40x20</td>
            <td>0,885</td>
            <td>0,936</td>
          </tr>
          <tr>
            <td>90х40</td>
            <td></td>
            <td>2,533</td>
          </tr>
        </tbody>
      </table>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tab-2" class="content">
        <thead>
          <tr>
            <td rowspan="3">Типоразмер, мм</td>
            <td colspan="15">Толщина стенки, мм</td>
          </tr>
          <tr>
            <td>0,7</td>
            <td>0,8</td>
            <td>1</td>
            <td>1,2</td>
            <td>1,5</td>
            <td>1,8</td>
            <td>2</td>
            <td>2,2</td>
            <td>2,5</td>
            <td>2,8</td>
            <td>3</td>
            <td>3,2</td>
            <td>3,5</td>
            <td>4</td>
            <td>4,5</td>
          </tr>
          <tr>
            <td colspan="15">Масса 1 п/м, кг</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>6</td>
            <td>0,092</td>
            <td>0,103</td>
            <td>0,123</td>
            <td>0,142</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>8</td>
            <td>0,126</td>
            <td>0,142</td>
            <td>0,173</td>
            <td>0,201</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>10</td>
            <td>0,161</td>
            <td>0,182</td>
            <td>0,222</td>
            <td>0,280</td>
            <td>0,314</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>12</td>
            <td>0,195</td>
            <td>0,221</td>
            <td>0,271</td>
            <td>0,320</td>
            <td>0,388</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>13</td>
            <td>0,212</td>
            <td>0,241</td>
            <td>0,296</td>
            <td>0,349</td>
            <td>0,425</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>14</td>
            <td>0,230</td>
            <td>0,260</td>
            <td>0,321</td>
            <td>0,379</td>
            <td>0,462</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>16</td>
            <td>0,264</td>
            <td>0,300</td>
            <td>0,370</td>
            <td>0,438</td>
            <td>0,536</td>
            <td>0,603</td>
            <td>0,691</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>18</td>
            <td>0,299</td>
            <td>0,340</td>
            <td>0,419</td>
            <td>0,497</td>
            <td>0,610</td>
            <td>0,719</td>
            <td>0,789</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>19</td>
            <td>&nbsp;</td>
            <td>0,359</td>
            <td>0,444</td>
            <td>0,527</td>
            <td>0,647</td>
            <td>0,764</td>
            <td>0,838</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>20</td>
            <td>&nbsp;</td>
            <td>0,378</td>
            <td>0,469</td>
            <td>0,556</td>
            <td>0,684</td>
            <td>0,808</td>
            <td>0,888</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>22</td>
            <td>&nbsp;</td>
            <td>0,418</td>
            <td>0,518</td>
            <td>0,616</td>
            <td>0,758</td>
            <td>0,897</td>
            <td>0,986</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>25</td>
            <td>&nbsp;</td>
            <td>0,477</td>
            <td>0,592</td>
            <td>0,704</td>
            <td>0,869</td>
            <td>1,030</td>
            <td>1,130</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>28</td>
            <td>&nbsp;</td>
            <td>0,537</td>
            <td>0,666</td>
            <td>0,793</td>
            <td>0,980</td>
            <td>1,160</td>
            <td>1,282</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>30</td>
            <td>&nbsp;</td>
            <td>0,576</td>
            <td>0,715</td>
            <td>0,852</td>
            <td>1,050</td>
            <td>1,125</td>
            <td>1,380</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>32</td>
            <td>&nbsp;</td>
            <td>0,616</td>
            <td>0,765</td>
            <td>0,911</td>
            <td>1,130</td>
            <td>1,340</td>
            <td>1,480</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>36</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0,863</td>
            <td>1,030</td>
            <td>1,280</td>
            <td>1,520</td>
            <td>1,680</td>
            <td>1,830</td>
            <td>2,070</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>38</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0,912</td>
            <td>1,090</td>
            <td>1,350</td>
            <td>1,610</td>
            <td>1,780</td>
            <td>1,940</td>
            <td>2,190</td>
            <td>2,430</td>
            <td>2,590</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>40</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0,962</td>
            <td>1,150</td>
            <td>1,424</td>
            <td>1,700</td>
            <td>1,870</td>
            <td>2,050</td>
            <td>2,310</td>
            <td>2,570</td>
            <td>2,740</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>42</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1,010</td>
            <td>1,210</td>
            <td>1,500</td>
            <td>1,780</td>
            <td>1,970</td>
            <td>2,160</td>
            <td>2,440</td>
            <td>2,710</td>
            <td>2,890</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>43</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1,090</td>
            <td>1,237</td>
            <td>1,535</td>
            <td>1,830</td>
            <td>2,020</td>
            <td>2,210</td>
            <td>2,500</td>
            <td>2,780</td>
            <td>2,960</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>45</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1,090</td>
            <td>1,300</td>
            <td>1,610</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>48</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1,160</td>
            <td>1,380</td>
            <td>1,720</td>
            <td>2,050</td>
            <td>2,270</td>
            <td>2,480</td>
            <td>2,810</td>
            <td>3,120</td>
            <td>3,330</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>51</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1,230</td>
            <td>1,474</td>
            <td>1,830</td>
            <td>2,184</td>
            <td>2,420</td>
            <td>2,650</td>
            <td>2,990</td>
            <td>3,343</td>
            <td>3,550</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>57</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1,380</td>
            <td>1,650</td>
            <td>2,050</td>
            <td>2,450</td>
            <td>2,710</td>
            <td>2,970</td>
            <td>3,360</td>
            <td>3,740</td>
            <td>4,000</td>
            <td>4,250</td>
            <td>4,620</td>
            <td>5,230</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>60</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1,740</td>
            <td>2,160</td>
            <td>2,580</td>
            <td>2,860</td>
            <td>3,140</td>
            <td>3,550</td>
            <td>3,950</td>
            <td>4,220</td>
            <td>4,480</td>
            <td>4,880</td>
            <td>5,520</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>63</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1,830</td>
            <td>2,280</td>
            <td>2,720</td>
            <td>3,010</td>
            <td>3,300</td>
            <td>3,730</td>
            <td>4,160</td>
            <td>4,440</td>
            <td>4,720</td>
            <td>5,140</td>
            <td>5,820</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>63,5</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1,840</td>
            <td>2,290</td>
            <td>2,740</td>
            <td>3,030</td>
            <td>3,330</td>
            <td>3,760</td>
            <td>4,190</td>
            <td>4,480</td>
            <td>4,760</td>
            <td>5,180</td>
            <td>5,870</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>76</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>2,760</td>
            <td>3,290</td>
            <td>3,650</td>
            <td>4,000</td>
            <td>4,530</td>
            <td>5,050</td>
            <td>5,400</td>
            <td>5,750</td>
            <td>6,260</td>
            <td>7,100</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>89</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>4,290</td>
            <td>4,710</td>
            <td>5,330</td>
            <td>5,950</td>
            <td>6,360</td>
            <td>6,770</td>
            <td>7,380</td>
            <td>8,380</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>102</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>6,130</td>
            <td>6,850</td>
            <td>7,320</td>
            <td>7,800</td>
            <td>8,500</td>
            <td>9,670</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>108</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>6,500</td>
            <td>7,260</td>
            <td>7,770</td>
            <td>8,270</td>
            <td>9,020</td>
            <td>10,260</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>114</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>6,870</td>
            <td>7,680</td>
            <td>8,210</td>
            <td>8,740</td>
            <td>9,540</td>
            <td>10,850</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>127</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>7,680</td>
            <td>8,580</td>
            <td>9,170</td>
            <td>9,770</td>
            <td>10,660</td>
            <td>12,130</td>
            <td>13,590</td>
          </tr>
          <tr>
            <td>133</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>8,050</td>
            <td>8,990</td>
            <td>9,620</td>
            <td>10,240</td>
            <td>11,180</td>
            <td>12,730</td>
            <td>14,260</td>
          </tr>
          <tr>
            <td>159</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>11,540</td>
            <td>12,300</td>
            <td>13,420</td>
            <td>15,290</td>
            <td>17,150</td>
          </tr>
        </tbody>
      </table>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tab-3" class="content active">
        <thead>
          <tr>
            <td rowspan="3"> Типоразмер, мм</td>
            <td colspan="14">Толщина стенки, мм</td>
          </tr>
          <tr>
            <td>0,7</td>
            <td>0,8</td>
            <td>1</td>
            <td>1,2</td>
            <td>1,5</td>
            <td>1,8</td>
            <td>2</td>
            <td>2,2</td>
            <td>2,5</td>
            <td>2,8</td>
            <td>3</td>
            <td>3,2</td>
            <td>3,5</td>
            <td>4</td>
          </tr>
          <tr>
            <td colspan="14"> Масса 1 п/м, кг</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10x10</td>
            <td>0,198</td>
            <td>0,222</td>
            <td>0,269</td>
            <td>0,312</td>
            <td>0,370</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>15x15</td>
            <td>0,308</td>
            <td>0,348</td>
            <td>0,426</td>
            <td>0,501</td>
            <td>0,605</td>
            <td>0,702</td>
            <td>0,762</td>
            <td>0,819</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>20x20</td>
            <td>0,418</td>
            <td>0,474</td>
            <td>0,583</td>
            <td>0,689</td>
            <td>0,841</td>
            <td>0,985</td>
            <td>1,075</td>
            <td>1,160</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>25x25</td>
            <td>&nbsp;</td>
            <td>0,599</td>
            <td>0,740</td>
            <td>0,880</td>
            <td>1,070</td>
            <td>1,270</td>
            <td>1,390</td>
            <td>1,510</td>
            <td>1,680</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>30x30</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0,897</td>
            <td>1,070</td>
            <td>1,310</td>
            <td>1,550</td>
            <td>1,700</td>
            <td>1,860</td>
            <td>2,070</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>40x40</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1,210</td>
            <td>1,440</td>
            <td>1,780</td>
            <td>2,120</td>
            <td>2,330</td>
            <td>2,540</td>
            <td>2,850</td>
            <td>3,160</td>
            <td>3,380</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>50x50</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1,820</td>
            <td>2,250</td>
            <td>2,680</td>
            <td>2,960</td>
            <td>3,240</td>
            <td>3,640</td>
            <td>4,040</td>
            <td>4,310</td>
            <td>4,560</td>
            <td>4,950</td>
            <td>5,560</td>
          </tr>
          <tr>
            <td>60x60</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>2,720</td>
            <td>3,250</td>
            <td>3,590</td>
            <td>3,930</td>
            <td>4,430</td>
            <td>4,920</td>
            <td>5,250</td>
            <td>5,570</td>
            <td>6,040</td>
            <td>6,820</td>
          </tr>
          <tr>
            <td>70x70</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>3,810</td>
            <td>4,220</td>
            <td>4,620</td>
            <td>5,210</td>
            <td>5,800</td>
            <td>6,190</td>
            <td>6,570</td>
            <td>7,140</td>
            <td>8,070</td>
          </tr>
          <tr>
            <td>80x80</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>4,380</td>
            <td>4,840</td>
            <td>5,310</td>
            <td>6,000</td>
            <td>6,680</td>
            <td>7,130</td>
            <td>7,580</td>
            <td>8,240</td>
            <td>9,330</td>
          </tr>
          <tr>
            <td>100x100</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>6,100</td>
            <td>6,690</td>
            <td>7,570</td>
            <td>8,440</td>
            <td>9,130</td>
            <td>9,590</td>
            <td>10,440</td>
            <td>12,050</td>
          </tr>
        </tbody>
      </table>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tab-4" class="content">
        <thead>
          <tr>
            <td rowspan="3"> Типоразмер, мм</td>
            <td colspan="15">Толщина стенки, мм</td>
          </tr>
          <tr>
            <td>0,7</td>
            <td>0,8</td>
            <td>1</td>
            <td>1,2</td>
            <td>1,5</td>
            <td>1,8</td>
            <td>2</td>
            <td>2,2</td>
            <td>2,5</td>
            <td>2,8</td>
            <td>3</td>
            <td>3,2</td>
            <td>3,5</td>
            <td>4</td>
            <td>4,5</td>
          </tr>
          <tr>
            <td colspan="15"> Масса 1 п/м, кг</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>20x10</td>
            <td>0,308</td>
            <td>0,348</td>
            <td>0,426</td>
            <td>0,501</td>
            <td>0,605</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>20x15</td>
            <td>0,363</td>
            <td>0,411</td>
            <td>0,505</td>
            <td>0,595</td>
            <td>0,723</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>25x15</td>
            <td>0,418</td>
            <td>0,474</td>
            <td>0,583</td>
            <td>0,689</td>
            <td>0,841</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>28x25</td>
            <td>0,560</td>
            <td>0,637</td>
            <td>0,787</td>
            <td>0,934</td>
            <td>1,150</td>
            <td>1,350</td>
            <td>1,490</td>
            <td>1,620</td>
            <td>1,800</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>30x10</td>
            <td>0,418</td>
            <td>0,474</td>
            <td>0,583</td>
            <td>0,689</td>
            <td>0,841</td>
            <td>0,985</td>
            <td>1,080</td>
            <td>1,160</td>
            <td>1,290</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>30x15</td>
            <td>0,473</td>
            <td>0,536</td>
            <td>0,661</td>
            <td>0,783</td>
            <td>0,959</td>
            <td>1,130</td>
            <td>1,230</td>
            <td>1,340</td>
            <td>1,490</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>30x20</td>
            <td>0,527</td>
            <td>0,599</td>
            <td>0,740</td>
            <td>0,877</td>
            <td>1,080</td>
            <td>1,270</td>
            <td>1,390</td>
            <td>1,510</td>
            <td>1,680</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>40x10</td>
            <td>0,527</td>
            <td>0,599</td>
            <td>0,740</td>
            <td>0,877</td>
            <td>1,080</td>
            <td>1,270</td>
            <td>1,390</td>
            <td>1,510</td>
            <td>1,680</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>40x20</td>
            <td>0,637</td>
            <td>0,725</td>
            <td>0,897</td>
            <td>1,070</td>
            <td>1,310</td>
            <td>1,550</td>
            <td>1,700</td>
            <td>1,850</td>
            <td>2,070</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>40x25</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0,976</td>
            <td>1,160</td>
            <td>1,430</td>
            <td>1,690</td>
            <td>1,860</td>
            <td>2,030</td>
            <td>2,270</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>40x28</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1,020</td>
            <td>1,220</td>
            <td>1,500</td>
            <td>1,780</td>
            <td>1,950</td>
            <td>2,130</td>
            <td>2,390</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>50x10</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>0,897</td>
            <td>1,070</td>
            <td>1,310</td>
            <td>1,550</td>
            <td>1,700</td>
            <td>1,860</td>
            <td>2,070</td>
            <td>2,290</td>
            <td>2,420</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>50x25</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1,130</td>
            <td>1,350</td>
            <td>1,670</td>
            <td>1,970</td>
            <td>2,170</td>
            <td>2,370</td>
            <td>2,660</td>
            <td>2,940</td>
            <td>3,130</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>50x30</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1,210</td>
            <td>1,440</td>
            <td>1,780</td>
            <td>2,120</td>
            <td>2,320</td>
            <td>2,550</td>
            <td>2,860</td>
            <td>3,160</td>
            <td>3,360</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>60x30</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>2,020</td>
            <td>2,400</td>
            <td>2,650</td>
            <td>2,890</td>
            <td>3,250</td>
            <td>3,610</td>
            <td>3,830</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>60x40</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>2,250</td>
            <td>2,680</td>
            <td>2,960</td>
            <td>3,230</td>
            <td>3,640</td>
            <td>4,040</td>
            <td>4,300</td>
            <td>4,560</td>
            <td>4,940</td>
            <td>5,560</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>80x40</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>3,590</td>
            <td>3,930</td>
            <td>4,430</td>
            <td>4,920</td>
            <td>5,250</td>
            <td>5,570</td>
            <td>6,040</td>
            <td>6,820</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>80x60</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>4,220</td>
            <td>4,620</td>
            <td>5,220</td>
            <td>5,800</td>
            <td>6,190</td>
            <td>6,570</td>
            <td>7,140</td>
            <td>8,070</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>90x30</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>3,590</td>
            <td>3,930</td>
            <td>4,180</td>
            <td>4,920</td>
            <td>5,250</td>
            <td>5,570</td>
            <td>6,040</td>
            <td>6,820</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>100x50</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>4,530</td>
            <td>4,960</td>
            <td>5,610</td>
            <td>6,240</td>
            <td>6,660</td>
            <td>7,080</td>
            <td>7,890</td>
            <td>8,700</td>
            <td>9,690</td>
          </tr>
          <tr>
            <td>100x60</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>4,840</td>
            <td>5,310</td>
            <td>6,000</td>
            <td>6,680</td>
            <td>7,250</td>
            <td>7,580</td>
            <td>8,240</td>
            <td>9,550</td>
            <td>10,390</td>
          </tr>
          <tr>
            <td>120x60</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>5,470</td>
            <td>6,000</td>
            <td>6,780</td>
            <td>7,560</td>
            <td>8,070</td>
            <td>8,580</td>
            <td>9,340</td>
            <td>10,590</td>
            <td>11,810</td>
          </tr>
          <tr>
            <td>120x80</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>6,100</td>
            <td>6,690</td>
            <td>7,570</td>
            <td>8,440</td>
            <td>9,140</td>
            <td>9,590</td>
            <td>10,440</td>
            <td>12,080</td>
            <td>13,200</td>
          </tr>
        </tbody>
      </table>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tab-5" class="content">
        <thead>
          <tr>
            <td rowspan="3">Типоразмер, мм</td>
            <td colspan="11">Толщина стенки, мм</td>
          </tr>
          <tr>
            <td>1,2</td>
            <td>1,5</td>
            <td>1,8</td>
            <td>2</td>
            <td>2,2</td>
            <td>2,5</td>
            <td>2,8</td>
            <td>3</td>
            <td>3,2</td>
            <td>3,5</td>
            <td>4</td>
          </tr>
          <tr>
            <td colspan="11">Масса 1 п/м, кг</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ду 15 (дн 21,3)</td>
            <td>0,595</td>
            <td>0,732</td>
            <td>0,866</td>
            <td>0,952</td>
            <td>1,040</td>
            <td>1,160</td>
            <td>1,280</td>
            <td>1,350</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>ду 20 (дн 26,8)</td>
            <td>0,758</td>
            <td>0,936</td>
            <td>1,110</td>
            <td>1,220</td>
            <td>1,330</td>
            <td>1,500</td>
            <td>1,660</td>
            <td>1,760</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>ду 25 (дн 33,5)</td>
            <td>0,956</td>
            <td>1,180</td>
            <td>1,410</td>
            <td>1,550</td>
            <td>1,700</td>
            <td>1,910</td>
            <td>2,120</td>
            <td>2,260</td>
            <td>2,390</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>ду 32 (дн 42,3)</td>
            <td>&nbsp;</td>
            <td>1,510</td>
            <td>1,800</td>
            <td>1,990</td>
            <td>2,180</td>
            <td>2,450</td>
            <td>2,730</td>
            <td>2,900</td>
            <td>3,090</td>
            <td>3,350</td>
            <td>3,780</td>
          </tr>
          <tr>
            <td>ду 40 (дн 48)</td>
            <td>&nbsp;</td>
            <td>1,720</td>
            <td>2,050</td>
            <td>2,270</td>
            <td>2,480</td>
            <td>2,810</td>
            <td>3,120</td>
            <td>3,330</td>
            <td>3,540</td>
            <td>3,840</td>
            <td>4,340</td>
          </tr>
          <tr>
            <td>ду 50 (дн 60)</td>
            <td>&nbsp;</td>
            <td>2,160</td>
            <td>2,580</td>
            <td>2,580</td>
            <td>3,140</td>
            <td>3,540</td>
            <td>3,950</td>
            <td>4,220</td>
            <td>4,480</td>
            <td>4,880</td>
            <td>5,520</td>
          </tr>
        </tbody>
      </table>

      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tab-6" class="content">
        <thead>
          <tr>
            <td rowspan="3">Типоразмер, мм</td>
            <td colspan="7">Толщина стенки, мм</td>
          </tr>
          <tr>
            <td>0,7</td>
            <td>0,8</td>
            <td>1</td>
            <td>1,2</td>
            <td>1,5</td>
            <td>1,8</td>
            <td>2</td>
          </tr>
          <tr>
            <td colspan="7">Масса 1 п/м, кг</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>30x15</td>
            <td>0,419</td>
            <td>0,496</td>
            <td>0,620</td>
            <td>0,720</td>
            <td>0,890</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>40x20</td>
            <td></td>
            <td>0,643</td>
            <td>0,783</td>
            <td>0,953</td>
            <td>1,160</td>
            <td>1,400</td>
            <td>1,520</td>
          </tr>
          <tr>
            <td>40x25</td>
            <td></td>
            <td>0,729</td>
            <td>0,906</td>
            <td>1,081</td>
            <td>1,340</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<style lang="scss">
  .content {
    display: none;

    &.active {
      display: table;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 100px clamp(20px, 5vw, 40px);

    h3 {
      margin: auto;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 80px;
      margin: auto;
      max-width: var(--l-max-width);
      width: 100%;

      nav {
        background: rgba(var(--c-theme-lighter), 0.04);
        border-radius: 50px;
        box-shadow: 0 5px 5px rgba(var(--c-dark), 0.2);
        display: grid;
        grid-template: auto / repeat(6, auto);
        gap: 40px;
        padding: 20px 40px;
        place-items: center;
        place-content: space-between;

        svg {
          color: rgba(var(--c-dark), 0.2);
          cursor: pointer;

          &:hover {
            color: rgb(var(--c-theme-lighter));
          }

          &.active {
            color: rgb(var(--c-theme-lighter));
            opacity: 1;
          }
        }
      }

      .tables {
        overflow: auto;
        scrollbar-width: thin;
      }
    }
  }

  @media (max-width: 980px) {
    section {
      div {
        nav {
          grid-template: auto / repeat(4, auto);
        }
      }
    }
  }

  @media (max-width: 640px) {
    section {
      div {
        nav {
          grid-template: auto / repeat(2, auto);
        }
      }
    }
  }
</style>

<script is:inline>
  const nav = document.querySelector(".nav");

  nav.addEventListener("click", (event) => {
    if (event.target && event.target.nodeName === "svg") {
      // change tabs
      let activeTab = nav.querySelector(".active");
      if (activeTab) {
        activeTab.classList.remove("active");
      }
      event.target.classList.add("active");

      // change content
      let activeContent = document.querySelector(".content.active");
      if (activeContent) {
        activeContent.classList.remove("active");
      }

      let tabId = "#" + event.target.dataset.tabId;
      let tabContent = document.querySelector(tabId);
      if (tabContent) {
        tabContent.classList.add("active");
      }
    }
  });
</script>
