---

---

<section>
  <div>
    <h3>Почему нам доверяют ?</h3>

    <article>
      <svg>
        <use xlink:href="/profil-s-temporary/images/sprites.svg#icon-calc"></use>
      </svg>

      <h4>Мы работаем открыто</h4>
      <p>
        Привлекательная для покупателей модная тенденция на рынке металлопроката - предлагать поставить профильные трубы с отсрочкой платежа, т.е. без денег – имеет свои подводные
        камни. Помните, в таком случае в вашу цену обязательно будет заложен банковский процент поставщика.
      </p>

      <p>Мы работаем открыто – вы платите за продукцию ее цену без дополнительных процентов. И это по-настоящему выгодно!</p>
    </article>

    <article class="reverse">
      <svg>
        <use xlink:href="/profil-s-temporary/images/sprites.svg#icon-truck"></use>
      </svg>

      <h4>Доставляем точно в срок</h4>
      <p>При покупке продукции без денег поставщики могут привезти ее тогда, когда будет удобно им. Не заплатив, вы не сможете даже предъявить претензий.</p>

      <p>
        Для любого производителя и строителя важны сроки. Одним из приоритетов компании «Профиль-С является точное соблюдение условий и сроков поставок. Купив круглые,
        прямоугольные или квадратные трубы у нас, вы гарантированно получите заказ в течение недели.
      </p>
    </article>

    <article>
      <svg>
        <use xlink:href="/profil-s-temporary/images/sprites.svg#icon-quality"></use>
      </svg>

      <h4>Только качественная продукция</h4>
      <p>Получив электросварные трубы без денег, вы не можете требовать идеального качества привезенной продукции, и поставщики часто пользуются этим.</p>

      <p>
        Компания «Профиль-С работает на рынке уже около 10 лет и выстраивает свое дальнейшее развитие на многие десятилетия вперед. Нам важна репутация, поэтому мы поставляем
        только продукцию высокого качества. Тонкостенные трубы, которые мы предлагаем, производятся на высокотехнологичном итальянском и корейском оборудовании. Это могут быть
        круглые трубы или изделия любого другого профиля. Важно то, что это не сделает ваш заказ дороже – мы готовы предоставить вам такой бонус, потому что заботимся о наших
        клиентах, понимая, что от их процветания зависит и наше будущее. Многие заказчики уже стали нашими постоянными партнерами.
      </p>
    </article>

    <article class="reverse">
      <svg>
        <use xlink:href="/profil-s-temporary/images/sprites.svg#icon-scissors"></use>
      </svg>

      <h4>Разумный подход</h4>
      <p>
        Поставщики, завлекающие скидкой в цене при большем объеме заказа, стремятся продать любыми способами, а вы при этом теряете на избытке закупленной продукции не несколько
        тысяч, а гораздо больше.
      </p>

      <p>
        «Профиль-С продаст вам трубы (Волгоград) именно в том количестве, которое вы готовы купить. Мы не навязываем лишних объемов, а продаем столько, сколько нужно Вам! Заказ
        труб специальной длины – той которая нужна для вашего производства - позволяет колоссальо сэкономить. Вы не будете терять деньги на обрезь трубной продукции, на
        дополнительные затраты времени и рабочей силы. Компания «Профиль-С принимает заказы на прямоугольные трубы или продукцию другого сечения такой длины, которая вам требуется.
      </p>
    </article>

    <article>
      <svg>
        <use xlink:href="/profil-s-temporary/images/sprites.svg#icon-house-check"></use>
      </svg>

      <h4>Бесплатное хранилище</h4>
      <p>
        Многие поставщики сталкиваются с проблемами в логистике, и в результате товар не всегда доставляется вовремя. Это создает неудобства и дополнительные затраты для бизнеса.
        При непредвиденных задержках в поставке товара, компания вынуждена платить за его хранение на складе до момента доставки. Иметь крытый склад это дополнительные затраты, по
        этому большая часть поставщиков просто хранят товар под открытым небом что негативно отражается на качестве товара.
      </p>
      <p>
        Благодаря выверенной, грамотной работе наших менеджеров вам не нужно будет заниматься поиском товара. Нужная вам труба оцинкованная или обычная стальная электросварная
        будет всегда в наличии. Заказав продукцию в прокат, вы сможете бесплатно хранить ее на крытом складе «Профиль-С столько, сколько нужно, будучи уверенными, что она
        содержится в идеальных условиях, необходимых для такого товара, как тонкостенная труба. Мы заботимся о Вас, чтобы процветать в будущем, и потому мы работаем хорошо.
      </p>
    </article>
  </div>
</section>

<style lang="scss">
  section {
    padding: 100px clamp(20px, 5vw, 40px);

    div {
      display: grid;
      gap: 80px;
      margin: auto;
      max-width: var(--l-max-width);

      h3 {
        margin: auto;
      }

      h4 {
        padding: 0 20px;
        margin: 0;
      }

      article {
        display: inherit;
        grid-template: auto / repeat(2, 1fr);

        svg {
          color: rgb(var(--c-theme));
          grid-row: 1 / 4;
          height: 150px;
          margin: auto;
          padding: 40px;
          width: 150px;
        }

        p {
          border-radius: 15px;
          grid-column: 2;
          padding: 20px;

          &:last-of-type {
            background-color: rgb(var(--c-theme-lighter));
            box-shadow: 0 5px 5px rgba(var(--c-dark), 0.2);
            color: rgb(var(--c-light));
          }
        }

        &.reverse {
          svg {
            grid-column: 2;
            grid-row: 1 / 4;
          }

          p {
            grid-column: 1;
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
    section {
      div {
        text-align: center;

        article {
          grid-template: auto / auto;

          svg {
            grid-column: 1 / -1;
            grid-row: 1;
          }

          p {
            grid-column: 1 / -1;
          }

          &.reverse {
            svg {
              grid-column: 1 / -1;
              grid-row: 1;
            }
          }
        }
      }
    }
  }
</style>
