---
import CrumbsComponent from "../components/global/CrumbsComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const gallery = [
  {
    id: 1,
    name: "/profil-s-temporary/images/gallery/image-1.jpg",
  },
  {
    id: 2,
    name: "/profil-s-temporary/images/gallery/image-2.jpg",
  },
  {
    id: 3,
    name: "/profil-s-temporary/images/gallery/image-3.jpg",
  },
  {
    id: 4,
    name: "/profil-s-temporary/images/gallery/image-4.jpg",
  },
  {
    id: 5,
    name: "/profil-s-temporary/images/gallery/image-5.jpg",
  },
  {
    id: 6,
    name: "/profil-s-temporary/images/gallery/image-6.jpg",
  },
  {
    id: 7,
    name: "/profil-s-temporary/images/gallery/image-7.jpg",
  },
  {
    id: 8,
    name: "/profil-s-temporary/images/gallery/image-8.jpg",
  },
  {
    id: 9,
    name: "/profil-s-temporary/images/gallery/image-9.jpg",
  },
  {
    id: 10,
    name: "/profil-s-temporary/images/gallery/image-10.jpg",
  },
  {
    id: 11,
    name: "/profil-s-temporary/images/gallery/image-11.jpg",
  },
  {
    id: 12,
    name: "/profil-s-temporary/images/gallery/image-12.jpg",
  },
  {
    id: 13,
    name: "/profil-s-temporary/images/gallery/image-13.jpg",
  },
  {
    id: 14,
    name: "/profil-s-temporary/images/gallery/image-14.jpg",
  },
  {
    id: 15,
    name: "/profil-s-temporary/images/gallery/image-15.jpg",
  },
  {
    id: 16,
    name: "/profil-s-temporary/images/gallery/image-16.jpg",
  },
  {
    id: 17,
    name: "/profil-s-temporary/images/gallery/image-17.jpg",
  },
  {
    id: 18,
    name: "/profil-s-temporary/images/gallery/image-18.jpg",
  },
  {
    id: 19,
    name: "/profil-s-temporary/images/gallery/image-19.jpg",
  },
  {
    id: 20,
    name: "/profil-s-temporary/images/gallery/image-20.jpg",
  },
];
---

<BaseLayout>
  <CrumbsComponent title="О компании" />

  <section>
    <h1>О компании</h1>

    <article>
      <p>
        Наше предприятие растет, и мы регулярно увеличиваем географию наших поставок: постепенно к партнерам из Волгограда и Волгоградской области прибавились клиенты из Краснодара
        и Хабаровска, из Омска и Брянска.
      </p>

      <p>
        На сегодняшний день мы осуществляем доставку наземным транспортом в большинство крупных городов и районных центров Российской Федерации. Наработанный опыт позволяет
        разрабатывать наиболее выгодную для каждого клиента логистическую схему, предлагать оптимальную упаковку продукции и с минимальной погрешностью определять сроки поставки.
      </p>

      <p>
        Несмотря на достаточную известность, мы активно принимаем участие в специализированных выставках, так как всегда заинтересованы в новых клиентах. К тому же мы рады
        представить новые типы стальных труб нашим постоянным и потенциальным покупателям.
      </p>

      <p>
        Бизнес расширяется, а наша компания остается сплоченной командой людей, радеющих за свое дело. Мы регулярно развиваемся и повышаем квалификацию своих сотрудников. Особое
        внимание в нерабочее время мы уделяем спорту: соревнования по футболу, хоккею, дартс, как нельзя лучше помогают почувствовать командный дух в компании. Стремление к новым
        достижениям, спортивный азарт сделать свою работу еще лучше и качественнее, спокойная рассудительность в принятии решений и удовольствие работать в коллективе хороших людей
        и для хороших людей – таковы основные характеристики команды «Профиль-С».
      </p>
    </article>

    <h3>Спорт</h3>

    <article>
      <p>
        Основой потенциала компании «Профиль-С» является ее коллектив. Деятельность сотрудников компании построена на принципах взаимовыручки, профессионализма и слаженности
        действий. Чтобы достичь такого уровня, руководство компании «Профиль-С» наладило систему неформальных отношений, таких как, ежегодные сплавы по реке Дон, участие в
        любительских футбольных турнирах Волгограда, а также создание собственной хоккейной команды «Сталь»! Хоккей – командная спортивная игра, которая проходит в высоком темпе и
        насыщена острыми, неожиданными, быстро сменяющимися ситуациями. Такие показатели подходят и для рынка металла при реализации профильных электросварных труб, и в такой
        обстановке для сотрудников компании «Профиль-С» незаменимыми становятся такие качества хоккеистов, как быстрота тактического мышления, умение мгновенно разобраться в
        непрерывно меняющихся ситуациях и принять самое лучшее, самое неожиданное и верное решение. Роли в этой игре четко распределены и члены команды доверяют друг другу на 100%,
        как и члены нашего коллектива.
      </p>

      <picture>
        <img src="/profil-s-temporary/images/about/2.jpg" alt="Хоккейная команда «Сталь»" />
      </picture>

      <p>
        Занятие спортом дело полезное и привлекательное. Для офиса удачным решением является игра в дартс. Специалисты давно советуют, что офисным работникам следует обратить
        особое внимание на эту игру. Во-первых, это отличный вид корпоративного отдыха. А во-вторых, тенденции последних лет указывают на то, что умение достойно играть в дартс
        стало частью делового этикета. Трудно найти лучший способ для разрядки в офисе. Здесь и улучшение координации движений, и смена положения тела, так необходимая при рутинной
        работе, а еще и огромный стимул для укрепления корпоративного духа, который конечно же присутствует в отделе продаж тонкостенных электросварных труб компании «Профиль-С». А
        также это отличный способ создать непринужденную обстановку в коллективе. Доказано, что метание дротиков повышает внимательность, сосредоточенность, а также уровень
        стрессоустойчивости у людей, работающих в агрессивных условиях, что является одним из самых необходимых профессиональных качеств нашего времени. Компания «Профиль-С» не
        исключение. Наши сотрудники являются не только замечательными специалистами по поставкам стальных труб в различные регионы нашей страны, но и стараются вести здоровый образ
        жизни, быть разносторонне развитыми.
      </p>

      <picture>
        <img src="/profil-s-temporary/images/about/1.jpg" alt="Занятие спортом дело полезное и привлекательное." />
      </picture>
    </article>

    <h3>Фотогалерея</h3>

    <div class="carousel">
      {
        gallery.map((item) => (
          <picture>
            <img src={item.name} alt="" />
          </picture>
        ))
      }
    </div>

    <div class="buttons-group">
      <button class="button__previous"></button>
      <button class="button__next"></button>
    </div>
  </section>

  <dialog onclick="this.close()">
    <picture></picture>
  </dialog>
</BaseLayout>

<style lang="scss">
  dialog {
    &::backdrop {
      background-color: rgba(var(--c-theme), 0.5);
    }

    picture {
      img {
        max-width: 640px;
        width: 100%;
      }
    }
  }

  section {
    display: grid;
    gap: 40px;
    margin: auto;
    max-width: var(--l-max-width);
    padding: 140px clamp(20px, 5vw, 40px);

    article {
      display: inherit;
      gap: inherit;
      place-items: center baseline;

      p {
        max-width: 920px;
      }

      picture {
        grid-column: 2;
      }
    }

    div {
      display: grid;
      grid-auto-flow: column;
      gap: 40px;
      overflow: hidden;
      padding: 0 0 40px;

      picture {
        height: 250px;
        transition: all 0.3s ease-in-out;
        width: 250px;

        img {
          height: 250px;
          object-fit: cover;
          width: 250px;
        }
      }
    }

    .buttons-group {
      gap: 10px;
      margin: auto;
      width: fit-content;

      button {
        background-color: rgb(var(--c-theme-lighter));
        border-radius: 25px;
        cursor: pointer;
        margin: auto;
        padding: 6px 30px;

        &:first-of-type {
          background-color: rgba(var(--c-theme-lighter), 0.2);
          padding: 6px 20px;
        }

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  @media only screen and (max-width: 920px) {
    section {
      article {
        picture {
          grid-column: 1;
        }
      }
    }
  }
</style>

<script is:inline>
  const slides = document.querySelectorAll(".carousel picture");

  const next = document.querySelector(".button__next");

  let current = 0;

  let total = slides.length - 1;

  let gap = 40;

  next.addEventListener("click", () => {
    if (current === total) {
      current = 0;
    } else {
      current++;
    }

    mooveSlides();
  });

  const previous = document.querySelector(".button__previous");

  previous.addEventListener("click", () => {
    if (current === 0) {
      current = total;
    } else {
      current--;
    }

    mooveSlides();
  });

  const mooveSlides = () => {
    slides.forEach((slide, index) => {
      slide.style.transform = `translateX(calc(${slides[index].offsetWidth + gap}px * -${current}))`;
    });
  };

  const dialog = document.querySelector("dialog");
  // Показываем модальное окно
  const parentElement = document.querySelector(".carousel");

  parentElement.addEventListener("click", (event) => {
    const slide = event.target.closest("picture");

    if (slide) {
      dialog.innerHTML = "";
      dialog.showModal();
      dialog.appendChild(slide.cloneNode(true));
    }
  });
</script>
