---
import CrumbsComponent from "../components/global/CrumbsComponent.astro";
import CatalogCardComponent from "../components/local/CatalogCardComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const products = [
  {
    id: 1,
    name: "Труба плоскоовальная",
  },
  {
    id: 2,
    name: "Труба квадратная",
  },
  {
    id: 3,
    name: "Труба профильная",
  },
  {
    id: 4,
    name: "Труба круглая",
  },
  {
    id: 5,
    name: "Труба круглая электросварная тонкостенная",
  },
  {
    id: 6,
    name: "Труба круглая водогазопроводная",
  },
  {
    id: 7,
    name: "Труба прямоугольная",
  },
  {
    id: 8,
    name: "Труба овальная",
  },
  {
    id: 9,
    name: "Труба арочная",
  },
  {
    id: 10,
    name: "Труба мебельная тонкостенная",
  },
  {
    id: 11,
    name: "Труба оцинкованная",
  },
];
---

<BaseLayout>
  <CrumbsComponent title="Каталог" />

  <section>
    <h1>Каталог</h1>

    <p>В нашем каталоге представлены все виды труб, которые вы можете приобрести в нашем магазине.</p>

    <div>
      {products.map((item) => <CatalogCardComponent id={item.id} name={item.name} />)}
    </div>

    <article>
      <h3>Труба стальная электросварная (ГОСТ 10704-91)</h3>

      <p>
        Трубы стальные электросварные профильные являются наиболее популярным типом металлопроката и представляют собой элементы длиной от 2 до 6 м, с различным диаметром круглого
        сечения и толщиной стенок.
      </p>

      <h3>Что такое Труба стальная электросварная (ГОСТ 10704-91)?</h3>
      <p>
        Изготавливаются такие трубы из специальных штрипсов либо листового холоднокатаного проката методом формовки и последующей сварки. Если соединение шва с помощью
        электросварки осуществляется по поперечной оси, готовый элемент считается прямошовным. При сваривании соединения по спирали в итоге получается спиралешовная Труба. Такая
        форма не должна подвергаться гибке, иначе может нарушиться целостность конструктива.
      </p>

      <p>
        Компания «Профиль С» реализует трубы стальные электросварные (ГОСТ 10704-91). Купить металлопродукцию нужного размера можно в офисе предприятия в Волгограде, либо оформить
        заявку в телефонном режиме.
      </p>

      <p>
        Создается такая продукция из качественной углеродистой или низкоуглеродистой стали. Для придания готовым Трубам необходимых антикоррозийных свойств заготовки подвергаются
        обработке специальными защитными составами.
      </p>

      <h4>Труба стальная электросварная (ГОСТ 10704-91) отличается видом сварного соединения:</h4>

      <ul>
        <li>Параллельная сварка. Более популярное название – стальные прямошовные трубы. Во время их создания сваривание шва происходит параллельно оси.</li>
        <li>
          Винтовая (спиральная) сварка. В этом случае соединение краев заготовки производится по винтовой линии. Более популярное название таких элементов – спиралешовные трубы.
        </li>
      </ul>

      <p>
        Наиболее универсальной на сегодняшний день и популярной считается прямошовная форма. Ее стоимость к тому же значительно ниже. Спиралевидные аналоги производятся только
        большого размера.
      </p>

      <h4>По виду использованного сырья такие трубы делятся на:</h4>

      <ul>
        <li>Холоднокатанные – наиболее распространенные и при производстве менее затратные элементы.</li>
        <li>Горячекатанные ‒ отличаются толстыми стенками, высокой себестоимостью.</li>
      </ul>

      <p>
        Покрытие готовой продукции для защиты от агрессивных сред подвергается дополнительной обработке. Качественная сварная продукция не должна иметь на поверхности дефектов.
      </p>

      <h5>Зачем нужна Труба стальная электросварная (ГОСТ 10704-91)?</h5>

      <p>
        Труба стальная электросварная (цену за тонну можно уточнить у менеджера «Профиль С») благодаря своей универсальности, многообразию диаметров и размеров, легкости монтажа и
        небольшому весу широко применяется в различных сферах народного и сельского хозяйства, промышленности. Используются:
      </p>

      <ul>
        <li>при возведении разнообразных металлических конструкций;</li>
        <li>для прокладки водо- и газопроводов;</li>
        <li>для создания различных механизмов в т.ч. и высокотехнологичных;</li>
        <li>в химической, пищевой, фармацевтической промышленности;</li>
        <li>в качестве каркасов для предметов мебели;</li>
        <li>как декоративные элементы и пр.</li>
      </ul>

      <p>Данный тип трубного металлопроката выдерживает давление до 16МПа, имеет небольшой вес и отличается легкостью монтажа.</p>

      <p>Почему нужно обратиться к нам? У нас лучшая стоимость трубы стальной электросварной за метр!</p>

      <p>Сотрудничая с «Профиль С» наши клиенты могут рассчитывать на:</p>

      <ul>
        <li>круглосуточную отгрузку товара;</li>
        <li>доставку в любой регион России;</li>
        <li>высокое качество продукции;</li>
        <li>доступные цены;</li>
        <li>возможность оформления срочного заказа и другие преимущества.</li>
      </ul>

      <p>
        Узнать стоимость трубы стальной электросварной за метр и оформить покупку трубного проката можно по адресу: улица Краснополянская, здание 72 д либо по телефону +7 (8442) 91
        11 99.
      </p>
    </article>
  </section>

  <style lang="scss">
    section {
      display: grid;
      grid-template: auto / 1fr;
      gap: 40px;
      margin: auto;
      max-width: var(--l-max-width);
      padding: 100px clamp(20px, 5vw, 40px);

      h1 {
        margin: 40px 0 0;
      }

      h1 {
        grid-column: 1 / -1;
      }

      div {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 40px;
      }

      article {
        grid-column: 1 / -1;

        h3,
        h4 {
          margin: 60px 0 20px;
        }

        ul {
          padding: 20px;

          li {
            list-style: inside;
          }
        }
      }
    }
  </style>
</BaseLayout>
