---
import HomeFeaturesComponent from "../components/local/HomeFeaturesComponent.astro";
import HomeHeroComponent from "../components/local/HomeHeroComponent.astro";
import HomeOurProductsComponent from "../components/local/HomeOurProductsComponent.astro";
import HomeVideoComponent from "../components/local/HomeVideoComponent.astro";
import HomeWeightmetricsComponent from "../components/local/HomeWeightmetricsComponent.astro";
import HomeWhyWeAreComponent from "../components/local/HomeWhyWeAreComponent.astro";
import NewsCardComponent from "../components/local/NewsCardComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const news = [
  {
    id: 1,
    name: "Екатеринбург, мы были там!",
    image: "/images/news/1.jpg",
  },
  {
    id: 2,
    name: `Команда "Профиль С" покоряет Казахстан!`,
    image: "/images/news/4.jpg",
  },
  {
    id: 3,
    name: "Эльбрус покорен! ",
    image: "/images/news/5.jpg",
  },
];
---

<BaseLayout>
  <HomeHeroComponent />

  <HomeOurProductsComponent />

  <HomeVideoComponent />

  <section>
    <h3>Новости</h3>

    <div class="cards">
      {news.map((item) => <NewsCardComponent id={item.id} name={item.name} image={item.image} />)}
    </div>
  </section>

  <HomeWeightmetricsComponent />

  <HomeWhyWeAreComponent />

  <section class="baner">
    <article>
      <h2>Стальные трубы для вашего бизнеса</h2>
      <p>
        Количество организаций, предлагающих стальные трубы, неизменно увеличивается, а потому потребителям все сложнее выбрать поставщика, ведь, на первый взгляд, все игроки на
        рынке металлопроката предлагают схожие условия. Однако волгоградская компания «Профиль С» выделяется на фоне других торгующих фирм. Чем? Прежде всего, подходом к клиенту и
        торговыми условиями. Приоритетными для нее является качество поставляемой трубной продукции, забота о выгоде клиента и абсолютная прозрачность в партнерских отношениях с
        заказчиком.
      </p>
    </article>
  </section>

  <HomeFeaturesComponent />
</BaseLayout>

<style lang="scss">
  section {
    padding: 100px clamp(20px, 5vw, 40px);
    text-align: center;

    div {
      display: grid;
      gap: 40px;
      grid-template: auto / repeat(auto-fit, minmax(280px, 1fr));
      margin: 80px auto 0;
      max-width: var(--l-max-width);
    }

    &.baner {
      background-color: rgb(var(--c-theme-lighter));
      box-shadow: 0 5px 5px rgba(var(--c-dark), 0.2);
      color: rgb(var(--c-light));
      z-index: 1;

      article {
        margin: auto;
        max-width: var(--l-max-width);
      }
    }
  }
</style>

<script is:inline>
  const parentElement = document.querySelector(".cards");

  parentElement.addEventListener("click", (event) => {
    const card = event.target.closest("article");

    if (card) {
      window.location.href = `/news/${card.dataset.id}`;
    }
  });
</script>
