---
import CrumbsComponent from "../components/global/CrumbsComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <CrumbsComponent title="Сервис" />

  <section>
    <h1>Сервис</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sapiente atque dolorum, deleniti alias nisi, nihil voluptatum facilis deserunt maiores nulla. Sapiente rerum
      totam tempora quibusdam quas accusantium necessitatibus maxime.
    </p>

    <h3>Доставка</h3>

    <h4>Железной дорогой</h4>

    <article>
      <ul>
        <li>
          <svg width="96" height="80">
            <use xlink:href="/images/sprites.svg#icon-5tn"></use>
          </svg>
           Контейнер
        </li>

        <li>
          <svg width="175" height="35">
            <use xlink:href="/images/sprites.svg#icon-pipe"></use>
          </svg>
           2.3м
        </li>
      </ul>

      <ul>
        <li>
          <svg width="96" height="80">
            <use xlink:href="/images/sprites.svg#icon-20tn"></use>
          </svg>
           Контейнер
        </li>

        <li>
          <svg width="175" height="35">
            <use xlink:href="/images/sprites.svg#icon-pipe"></use>
          </svg>
           5.8м
        </li>
      </ul>

      <ul>
        <li>
          <svg width="120" height="80">
            <use xlink:href="/images/sprites.svg#icon-60tn"></use>
          </svg>
           Полувагон
        </li>

        <li>
          <svg width="175" height="35">
            <use xlink:href="/images/sprites.svg#icon-pipe"></use>
          </svg>
           12м
        </li>
      </ul>

      <p>
        Доставка производится до станции назначения указанной при оформлении заказа. Возможна доставка контейнеров «до двери» - Доставка груза производится до склада (места
        разгрузки).
      </p>
    </article>

    <h4>Автотранспортом</h4>

    <article>
      <ul>
        <li>
          <svg width="96" height="80">
            <use xlink:href="/images/sprites.svg#icon-1tn"></use>
          </svg>
        </li>

        <li>Любой регион РФ от 1 тонны</li>
      </ul>

      <p>Доставка еврофурами. Стоимость считается индивидуально, зависит от удаленности склада заказчика,объема груза.</p>
    </article>

    <h3>Складской сервис</h3>

    <ul>
      Мы предлагаем не только качественную продукцию, но и качественный сервис:

      <li>Круглосуточная работа складского комплекса</li>
      <li>Удобные подъездные пути и охраняемая стоянка</li>
      <li>Оперативная погрузка, осуществляемая в кратчайшие сроки благодаря слаженной работе команды и наличию двух кранов</li>
      <li>Крытый, отапливаемый складской комплекс на 2000 тн и открытая площадка на 5000 тн.</li>
      <li>Бесплатная доставка образцов продукции</li>
    </ul>

    <h3>Спецдлинна</h3>

    <article>
      <ul>
        <li>
          <svg width="200" height="100">
            <use xlink:href="/images/sprites.svg#icon-saw"></use>
          </svg>
        </li>

        <li>Розница (от одной штуки)</li>
      </ul>

      <p>Для сокращения отходов на производстве, предлагаем Вам рассчитать и заказать трубу любой длины.</p>

      <ul>
        <li>
          <svg width="200" height="100">
            <use xlink:href="/images/sprites.svg#icon-pipes"></use>
          </svg>
        </li>

        <li>Опт (от одной тонны)</li>
      </ul>

      <p>Порезка труб осуществляется на базе, по согласованию с менеджером.</p>
    </article>

    <h3>Упаковка</h3>

    <article>
      <ul>
        <li>
          <svg width="120" height="100"><use xlink:href="/images/sprites.svg#icon-roll"></use></svg>
        </li>

        <li>Стоимость 500 руб/тн</li>
      </ul>

      <p>При отсутствии условий хранения металла на вашем складе мы предлагаем воспользоваться нашей услугой по упаковке груза.</p>

      <ul>
        <li>
          <svg width="200" height="100"><use xlink:href="/images/sprites.svg#icon-box"></use></svg>
        </li>

        <li>Стоимость от 1500 руб/тн</li>
      </ul>

      <p>Возможна упаковка в пленку и оцинкованные короба.</p>
    </article>

    <h3>Обработка от коррозии</h3>

    <article>
      <ul>
        <li>
          <svg width="100" height="100"><use xlink:href="/images/sprites.svg#icon-umbrella"></use></svg>
        </li>

        <li>Универсальное средство по борьбе с коррозией</li>
      </ul>

      <p>Длительное хранение металла без специальных условий, может привести к образованию коррозии, закажите специальное средство.</p>
    </article>

    <article>
      <p>
        В отличие от многих поставщиков компания «Профиль-С» готова поставить как трубы стандартной длины, так специальной для нужного размера, если вы сообщите об этом при
        размещении заказа.
      </p>

      <p>
        Продажа труб из стали углеродистых марок возможна как по срочным, так и по предварительным заявкам. Однако если вам требуется большой тоннаж (свыше 5 тонн), пожалуйста,
        сообщите нам заранее, и тогда трубы поступят на ваше предприятие точно в срок.
      </p>

      <p>
        По вашему желанию мы упаковываем электросварные профильные трубы в полиэтилен, оцинкованные короба или обрабатываем специальной эмульсией, благодаря которой металл не
        портится даже при хранении под открытым небом.
      </p>

      <p>Кроме того, мы готовы предоставить вам бесплатные образцы труб разных типов и диаметров. Звоните нам прямо сейчас.</p>
    </article>
  </section>
</BaseLayout>

<style lang="scss">
  section {
    display: grid;
    gap: 40px;
    margin: auto;
    max-width: var(--l-max-width);
    padding: 140px clamp(20px, 5vw, 40px);

    article {
      display: inherit;
      gap: inherit;
      background: rgba(var(--c-theme-lighter), 0.04);
      padding: 40px;
      border-radius: 20px;
      box-shadow: 0 5px 5px rgba(var(--c-dark), 0.2);

      ul {
        display: inherit;
        grid-template: auto / repeat(2, 1fr);
        gap: 20px;
        place-items: center baseline;
        text-align: center;

        li {
          margin: 0;

          &::before {
            content: none;
          }

          svg {
            display: block;
          }
        }
      }

      p {
        grid-column: 1 / -1;
      }
    }

    ul {
      li {
        margin: 10px;

        &::before {
          content: "-";
          margin: 0 10px 0 0;
        }
      }
    }

    span {
      display: grid;
      place-items: center;
    }

    p {
      margin: 0 0 20px;
    }
  }

  @media only screen and (max-width: 640px) {
    section {
      article {
        ul {
          grid-template: auto / 1fr;
          place-items: center;
        }
      }
    }
  }
</style>
