---
import "@fontsource/roboto/300.css";
import "@fontsource/roboto/400.css";
import FooterComponent from "../components/global/FooterComponent.astro";
import HeaderComponent from "../components/global/HeaderComponent.astro";
import "../styles/base.scss";
import "../styles/reset.scss";

import { YandexMetrika } from "astro-yandex-metrika";

const counterId = "95917536";
---

<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Трубы любого типоразмера г.Волгоград | «Профиль С»</title>
    <script src="//code.jivo.ru/widget/jO0pOfe0dv" is:inline async></script>
  </head>
  <body>
    <HeaderComponent />

    <main>
      <slot />
    </main>

    <FooterComponent />
    <YandexMetrika id={counterId} />

    <!-- Top.Mail.Ru counter -->
<script type="text/javascript">
  var _tmr = window._tmr || (window._tmr = []);
  _tmr.push({id: "3612620", type: "pageView", start: (new Date()).getTime()});
  (function (d, w, id) {
    if (d.getElementById(id)) return;
    var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
    ts.src = "https://top-fwz1.mail.ru/js/code.js";
    var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
    if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
  })(document, window, "tmr-code");
  </script>
  <noscript><div><img src="https://top-fwz1.mail.ru/counter?id=3612620;js=na" style="position:absolute;left:-9999px;" alt="Top.Mail.Ru" /></div></noscript>
  <!-- /Top.Mail.Ru counter -->
  </body>
</html>

<style lang="scss">
  main {
    background-color: rgb(var(--c-light));
    margin: -92px 0 0;
    position: relative;
    z-index: 0;
  }
</style>
