---
import "@fontsource/roboto/300.css";
import "@fontsource/roboto/400.css";
import FooterComponent from "../components/global/FooterComponent.astro";
import HeaderComponent from "../components/global/HeaderComponent.astro";
import "../styles/base.scss";
import "../styles/reset.scss";
---

<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Трубы любого типоразмера г.Волгоград | «Профиль С»</title>
  </head>
  <body>
    <HeaderComponent />

    <main>
      <slot />
    </main>

    <FooterComponent />
  </body>
</html>

<style lang="scss">
  main {
    background-color: rgb(var(--c-light));
    margin: -92px 0 0;
    position: relative;
    z-index: 0;
  }
</style>
