---
import CatalogModalComponent from "../components/global/CatalogModalComponent.astro";
import CrumbsComponent from "../components/global/CrumbsComponent.astro";
import CalculatorComponent from "../components/local/CalculatorComponent.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <CrumbsComponent parent="Каталог" href="/catalog" title={frontmatter.title} />

  <section>
    <h1>{frontmatter.title}</h1>

    <div>
      <video src={frontmatter.video} autoplay loop></video>

      <ul>
        <li>D - диаметр, мм</li>
        <li>S - толщина стенки, мм</li>
      </ul>

      <a href="#" class="button" id="catalog-button">Сделать заказ</a>
    </div>

    {frontmatter.type === "circle" ? <CalculatorComponent /> : null}

    <article class="markdown-content">
      <slot />
    </article>
  </section>

  <CatalogModalComponent />
</BaseLayout>

<style lang="scss">
  section {
    display: grid;
    gap: 20px;
    margin: auto;
    max-width: var(--l-max-width);
    padding: 100px clamp(20px, 5vw, 40px);

    div {
      border-radius: 20px;
      box-shadow: 0 5px 5px rgba(var(--c-dark), 0.1);
      display: grid;
      padding: 40px;
      place-items: start;
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        background: rgba(var(--c-theme-lighter), 0.04);
        width: 100%;
        height: 100%;
        z-index: 6;
        position: absolute;
      }

      .button {
        z-index: 7;
      }

      video {
        grid-column: 2;
        grid-row: 1 / 3;
        margin: 0 0 0 auto;
        max-width: 400px;
        width: 100%;
      }

      ul {
        padding: 20px;
      }
    }

    h1 {
      margin: 40px 0 0;
    }

    article {
      h4 {
        margin: 0 0 20px;
      }
    }
  }

  @media (max-width: 640px) {
    section {
      div {
        video {
          grid-column: 1;
          margin: auto;
        }
      }
    }
  }
</style>

<script is:inline>
  const catalogDialog = document.querySelector("#catalog-dialog");
  const catalogButton = document.querySelector("#catalog-button");

  catalogButton.addEventListener("click", (e) => {
    e.preventDefault();
    catalogDialog.showModal();
  });
</script>
