---

---

<dialog id="catalog-dialog">
  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" viewBox="0 0 16 16" onclick="this.parentNode.close()">
    <path
      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
    ></path>
  </svg>

  <h4>Сделать заказ</h4>
  <p>Пожалуйста, заполните форму и мы свяжемся с вами в ближайшее время.</p>

  <form action="#">
    <label>
      ФИО
      <input type="text" />
    </label>

    <label>
      Телефон
      <input type="text" />
    </label>

    <label>
      Эл.почта
      <input type="text" />
    </label>

    <label>
      Предполагаемый объем заказа
      <input type="text" />
    </label>

    <label>
      Комментарий к заказу
      <textarea name="" id="" cols="30" rows="5"></textarea>
    </label>

    <button class="button">Отправить</button>
  </form>
</dialog>

<style lang="scss">
  dialog {
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(13, 36, 55, 0.15);
    padding: 40px;

    svg {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 2;
    }

    form {
      display: grid;
      grid-template: auto / repeat(2, 1fr);
      gap: 20px;
      margin: 40px 0 0;
      position: relative;

      label {
        display: grid;

        &:first-of-type {
          grid-column: 1 / -1;
        }

        &:nth-of-type(4) {
          grid-column: 1 / -1;
        }

        &:last-of-type {
          grid-column: 1 / -1;
        }

        input,
        textarea {
          border: 1px solid #eeeeee;
          margin: 10px 0 0;
          padding: 10px;
        }

        button {
          grid-column: 1 / -1;
          margin: auto;
        }
      }
    }
  }

  @media only screen and (max-width: 640px) {
    dialog {
      form {
        label {
          grid-column: 1;
        }
      }
    }
  }
</style>
