---
const links = [
  {
    name: "Главная",
    href: "/",
  },
  {
    name: "Каталог",
    href: "/catalog",
  },
  {
    name: "Сервис",
    href: "/service",
  },
  {
    name: "Компания",
    href: "/about",
  },
  {
    name: "Контакты",
    href: "/contacts",
  },
  {
    name: "+7 8442 91 11 99",
    href: "tel:+78442911199",
  },
];
---

<header>
  <nav>
    <svg xmlns="http://www.w3.org/2000/svg" width="160" height="52" fill="none" viewBox="0 0 160 52">
      <path
        fill="#52a2db"
        d="M137.818 0a26.006 26.006 0 0 1 15.279 4.932l-7.727 16.83A16.826 16.826 0 0 0 137.819 20c-8.677 0-15.711 6.417-15.711 14.333s7.034 14.333 15.711 14.333c6.611 0 12.267-3.725 14.587-9h7.596C155.407 47.069 147.191 52 137.819 52c-14.399 0-26.073-11.64-26.073-26S123.42 0 137.819 0h-.001Z"
      ></path>
      <path
        fill="currentColor"
        d="M28.723 33.328a4.66 4.66 0 0 1-.46 2.061 5.13 5.13 0 0 1-1.246 1.635 5.856 5.856 0 0 1-1.85 1.078 6.525 6.525 0 0 1-2.273.391h-3.288v6.016h-3.723V28.023h6.939c.887 0 1.692.123 2.418.367a5.318 5.318 0 0 1 1.863 1.055 4.667 4.667 0 0 1 1.197 1.67c.282.654.423 1.393.423 2.214Zm-3.773-.07c0-.664-.201-1.157-.605-1.481-.402-.324-.975-.486-1.716-.486h-3.023v3.933h3.12c.612 0 1.136-.178 1.571-.533.435-.356.653-.834.653-1.434Zm11.462-5.354c1.015 0 1.93.163 2.744.486.814.323 1.507.77 2.08 1.338a5.783 5.783 0 0 1 1.318 2.037c.306.79.459 1.642.459 2.558v3.885c0 .98-.157 1.867-.471 2.665a5.789 5.789 0 0 1-1.33 2.037 5.803 5.803 0 0 1-2.079 1.291c-.814.301-1.72.45-2.72.45-1.096 0-2.051-.173-2.866-.52-.814-.347-1.49-.818-2.03-1.41a5.788 5.788 0 0 1-1.21-2.061 7.564 7.564 0 0 1-.399-2.452v-3.885c0-.852.133-1.666.4-2.44a5.812 5.812 0 0 1 1.208-2.049c.54-.592 1.217-1.061 2.031-1.41.815-.347 1.77-.52 2.866-.52h-.001Zm-.037 3.41c-.471 0-.875.076-1.214.226-.341.15-.624.35-.85.604a2.55 2.55 0 0 0-.511.865 2.976 2.976 0 0 0-.17.983v4.477c0 .363.057.71.17 1.042.109.324.283.622.512.877.225.252.508.458.85.615.338.158.74.237 1.213.237.906 0 1.608-.264 2.1-.793.496-.53.742-1.189.742-1.978v-4.477c0-.727-.247-1.354-.742-1.884-.492-.529-1.193-.793-2.1-.793Zm25.572 4.81c0 .93-.154 1.811-.46 2.64a6.552 6.552 0 0 1-1.318 2.18 6.13 6.13 0 0 1-2.116 1.48c-.839.363-1.79.553-2.853.57v1.515h-3.458v-1.516c-1.145-.094-2.136-.332-2.974-.71-.838-.378-1.532-.869-2.079-1.468a5.65 5.65 0 0 1-1.21-2.097 8.388 8.388 0 0 1-.386-2.594c0-.932.14-1.816.423-2.652.281-.837.7-1.576 1.258-2.215a6.02 6.02 0 0 1 2.079-1.528c.83-.378 1.793-.584 2.89-.615v-1.09H55.2v1.09c1.16.078 2.168.303 3.023.674.855.372 1.56.861 2.116 1.468a5.632 5.632 0 0 1 1.22 2.145c.258.821.388 1.728.388 2.724v-.002ZM55.2 40.125c.694-.047 1.25-.182 1.668-.402.42-.221.742-.51.967-.865a3.06 3.06 0 0 0 .436-1.232c.064-.466.097-.976.097-1.528 0-.426-.037-.872-.109-1.338a3.706 3.706 0 0 0-.46-1.303 2.98 2.98 0 0 0-.967-1.006c-.411-.269-.956-.419-1.632-.45v8.124Zm-3.458-8.077c-1.112.143-1.91.556-2.394 1.244-.484.687-.71 1.622-.677 2.808 0 .553.048 1.061.145 1.527.097.465.258.872.484 1.22.225.347.536.632.931.852.395.221.899.363 1.511.426V32.05Zm12.912 12.46V28.023h3.724V38.35h.073l3.458-5.282 3.53-5.045h3.071v16.486h-3.723v-9.973h-.073l-2.466 3.909-4.28 6.064h-3.314Zm45.364-5.021c0 1.642-.52 2.93-1.56 3.86-1.039.933-2.487 1.398-4.341 1.398h-7.085V28.26h3.723v6.324h3.41c.968 0 1.818.139 2.552.415.733.276 1.346.643 1.837 1.101.492.458.858.98 1.1 1.564.241.578.364 1.198.363 1.824h.001Zm-3.773.142c0-.457-.168-.868-.508-1.23-.338-.364-.902-.546-1.692-.546h-3.312v3.624h3.312c.791 0 1.355-.19 1.692-.569.34-.378.508-.806.508-1.279ZM9.222 44.569V34.515c0-1.795-.11-3.174-2.716-3.174H3.717v13.227H0V28.081h8.49c2.233 0 4.403 1.905 4.403 4.46v12.027H9.222Zm75.5 0V34.515c0-1.795.11-3.174 2.716-3.174h2.789v13.227h3.717V28.081h-8.489c-2.235 0-4.403 1.905-4.403 4.46v12.027h3.67Z"
      ></path>
    </svg>

    <svg id="menu-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
      ></path>
    </svg>

    <ul class="hidden">
      {
        links.map((link) => (
          <li>
            <a href={link.href}>{link.name}</a>
          </li>
        ))
      }
    </ul>
  </nav>

  <style lang="scss">
    header {
      background-color: rgb(var(--c-theme));
      box-shadow: 0 5px 5px rgba(var(--c-dark), 0);
      color: rgb(var(--c-light));
      position: sticky;
      top: 0;
      z-index: 9;

      nav {
        display: grid;
        grid-template: auto / 160px auto;
        margin: auto;
        max-width: var(--l-max-width);
        padding: 20px clamp(20px, 5vw, 40px);

        svg {
          &:last-of-type {
            cursor: pointer;
            display: none;

            &:hover {
              color: rgba(var(--c-light), 0.2);
            }
          }
        }

        ul {
          display: inherit;
          grid-template: auto / repeat(6, auto);
          gap: 40px;
          place-items: baseline;
          place-content: end;

          li {
            a {
              padding: 0 0 5px;

              &:hover {
                border-bottom: 2px solid currentColor;
              }
            }

            &:last-child {
              font-size: 18px;
              font-weight: 400;
            }
          }
        }
      }
    }

    @media (max-width: 920px) {
      header {
        &.active {
          background-color: rgb(var(--c-theme)) !important;
          nav {
            ul {
              display: inherit;
            }
          }
        }
        nav {
          gap: 40px;

          svg {
            &:last-of-type {
              display: unset;
              margin: auto 0 0 auto;
            }
          }

          ul {
            gap: 20px;
            grid-column: 1 / -1;
            grid-template: auto / auto;
            place-content: start;
            display: none;
          }
        }
      }
    }
  </style>

  <script is:inline>
    const menuIcon = document.querySelector("#menu-icon");
    const header = document.querySelector("header");

    menuIcon.addEventListener("click", () => header.classList.toggle("active"));
  </script>
</header>
